bin
/TfriServer/release
/TfriServer/debug
/TfriServer/object_script.TfriServer.Debug
/TfriServer/object_script.TfriServer.Release
/TfriServer/Makefile.Debug
/TfriServer/Makefile.Release
/TfriServer/*.user
/TfriServer/*.user.*
/TfriServer/obj
/data/*
data
/TfriClient/*.user
/TfriClient/*.user.*
/TfriClient/obj
/TfriServer/Makefile
/TfriServer/TfriServer.pro.user
obj
